@{
    ViewBag.Title = "Chart MVC 6";
}

@addTagHelper "*, Chart.Mvc6"
@model Chart.Mvc6.Sample.ViewModels.ComplexChartsViewModel

<div class="jumbotron">
    <h1>Chart.Mvc6</h1>
    <p class="lead">A .NET wrapper to generate charts using the popular Chart.Js library</p>
    <p>This version is for use with MVC 6 and .Net Core 1.0.</p>
</div>

<h2>Example Charts</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Line Chart</h3>
        <line-chart chart="@Model.LineChart" width="400" height="400" id="LineChart" />
    </div>
    <div class="col-md-6">
        <h3>Bar Chart</h3>
        <bar-chart Chart="@Model.BarChart" Width="400" Height="400" id="BarChart" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Radar Chart</h3>
        <radar-chart Chart="@Model.RadarChart" Width="400" Height="400" id="RadarChart" />
    </div>
    <div class="col-md-6">
        <h3>Polar Area Chart</h3>
        <polar-chart Chart="@Model.PolarAreaChart" Width="400" Height="400" id="PolarAreaChart" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Pie Chart</h3>
        <pie-chart Chart="@Model.PieChart" Width="400" Height="400" id="PieChart" />
    </div>
    <div class="col-md-6">
        <h3>Doughnut Chart</h3>
        <doughnut-chart Chart="@Model.DoughnutChart" Width="400" Height="400" id="DoughnutChart" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Bubble Chart</h3>
        <bubble-chart chart="@Model.BubbleChart" width="400" height="400" id="BubbleChart" />
    </div>
</div>